html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: #000;
    box-sizing: inherit;
    padding-bottom: 4em;
}

a {
    text-decoration: none;
    color: #000;
}

/*  HEADER  */

header {
    width: 100%;
    min-height: 16vh;
    text-transform: uppercase;
}

nav{
    width: 100%;
    height: 16vh;
    position: absolute;
    background-color: #fff;
}

.container-fluid {
    width: 95%;
}

.navbar-toggler {
    margin-right: 0.5em;
}

.navbar-brand img {
    width: 250px;
}

.nav-contact-item {
    display: none;
}

.nav-logo-index {
    visibility: hidden;
}

@keyframes btn-close-nav-animation {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

.btn-close:hover {
    animation-name: btn-close-nav-animation;
    animation-duration: 1s;
}

/*  INDEX  */

.index-content {
    display: flex;
    flex-flow: row wrap;
}

.index-txt-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-hello-plus-logo {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
}

.row-hello-txt {
    font-size: 1.8em;
    line-height: 1em;
}

.logo-index {
    width: 250px;
    margin-left: 3px;
}

.logo-index img {
    max-width: 100%;
    max-height: 100%;
}

.row-read-more-plus-icon {
    width: fit-content;
    height: 3vh;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.read-more-txt {
    font-size: 0.8em;
    margin-left: 0;
}

.row-read-more-plus-icon:hover {
    color: #000;
}

.row-read-more-plus-icon img {
    display: flex;  
    align-items: center;
    margin-left: 4px;
}

@keyframes arrow-forward-animation {
    from {margin-left: 4px;}
    to {margin-left: 15px;}
}

.row-read-more-plus-icon:hover img {
    animation-name: arrow-forward-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tag-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.tag-container img {
    max-width: 100%;
    max-height: 100%;
}

/*  SKILLS  */

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.skill-card {
    width: 9.3em;
    height: 9.3em;
    background-color: #FFF;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    perspective: 1000px; 
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transition: 0.7s;
    transition: transform 0.8s;
    box-shadow: inset 7px 7px 14px #d4d6d9, inset -7px -7px 14px #ffffff;
    border-radius: 24px;
}

.front-flip, .back-flip {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-flip {
    transform: rotateY(180deg);
    border-radius: 4px;
}

.back-flip p {
    font-size: 0.7em;
    padding: 18px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.skill-logo {
    width: 4.3em;
    height: 8.1em;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.flip-skill-card {
    transform: rotateY(180deg);
}

/*  PROJECTS  */

.projects-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-card {
    width: auto;
    height: auto;
    border-radius: 24px;
    box-shadow: inset 7px 7px 14px #d4d6d9, inset -7px -7px 14px #ffffff;
    margin: 10px;
}

.project-card img {
    width: 25em;
    height: 12.5em;
    border-radius: 12px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.project-card-content label {
    margin: 8px 0px 3px 0px;
    text-transform: uppercase;
    cursor: pointer;
}

.links-project-card {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.8em;
}

.buttons-project-card button {
    padding: 5px;
    margin: 3px 3px 0px 3px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: rgb(92, 91, 91);
    font-size: 0.8em;
}

.project-card-content label,
.buttons-project-card button:hover {
    color: #000;
}

/*  FOOTER  */

footer {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 0.8em;
    background-color: #fff;
}

.footer-line {
    width: 49em;
    border-top: solid 0.10em #000;
}

.footer-icon {
    width: 35px;
    height: 35px;
    margin: 0.9em 0.5em;
}

@media screen and (max-width: 780px) {

    body {
        padding-bottom: 0;
    }

    .index-txt-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .row-hello-plus-logo {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-index {
        margin-bottom: 4px;
    }

    .tag-container {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .nav-contact-item {
        display: flex;
    }

    footer {
        display: none;
    }

    .project-card img {
        width: 20em;
        height: 10.5em;
    }

    .skill-card {
        width: 7.5em;
        height: 7.5em;
    }   
    
    .skill-logo {
        width: 3.5em;
        height: 7.2em;
    }   

    .back-flip p {
        font-size: 0.6em;
    }    
}