footer {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 0.8em;
    background-color: #fff;
}

.footer-line {
    width: 49em;
    border-top: solid 0.10em #000;
}

.footer-icon {
    width: 35px;
    height: 35px;
    margin: 0.9em 0.5em;
}

@media only screen and (max-width: 768px) {

    footer {
        display: none;
    }  
}